<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a software developer with over 4 years of experience in designing scalable 
      and high-performance cloud based solutions across various technologies. 
    </p>

    <p>
      Having possessed relevant experience in working with various tools and
      technologies and owning products end to end, I believe my primary driving
      force is my will to learn and keep on improving my skills. I enjoy keeping
      up with the latest trends in the tech space.
    </p>

    <p>
      <strong>Outside of work</strong>, I’m usually found surfing YouTube, binging TV shows,
      playing chess, hanging out or listening to music.
    </p>

    {% include employment-status.html %}
  </div>
</section>
